.logout{
  &--container{
    height: 100vh;
    width: 100%;
  }
  &--nav{
    display: flex;
    justify-content: flex-end;
    margin: 5vh 5vw 10vh 5vw;
    &--item {
      margin-left: 10px;
      padding: 10px;
      text-decoration: none;
      border: 1px solid white;
      &:hover {
        cursor: pointer;
        border: 1px solid $color-4;
        transition: $transition-basic;
      }
    }
  }
  &--info{
    &--container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &--header{
      font-size: 2.5rem;
      text-align: center;
    }
    &--btn{
      font-size: 1.5rem;
      border: 1px solid white;
      margin: 30px 70px;
      padding: 10px 20px;
      background-color: white;
      text-decoration: none;
      color: $color-5;
      &:hover {
        cursor: pointer;
        border: 1px solid $color-4;
        transition: $transition-basic;
      }
    }

  }
}